.nav-custom{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}
.site-name{
    font-size: 24px;
    font-weight: bold;
}
.site-name-sub{
    color: #FF7F47;
}
.btn-logout{
    text-decoration: none;
    border: none;
    background-color: #F8F9FA;
    font-weight: 500;
    color: red;
}
.user-name{
    color: #262339;
    font-weight: 500;
}