.package-banner{
    background-image: url('https://i.ibb.co/Gvw5L7Q/package-Banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    filter: blur(2px);
    filter: brightness(.5);
    z-index: 0;
}
.package-content h1{
    font-weight: bold;
    color: white;
    margin-top: -200px;
    z-index: 1;
}

.package-img{
    width: 100%;
    border-radius: 5px;
}

.package-details h1{
    color:#FF7F47;
    font-weight: bold;
}
.hr-color{
    color:#FF7F47;
   
}
.right-part{
    padding-top: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    border-radius: 5px;
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  
input[type=submit] {
    width: 100%;
    background-color: #FF7F47;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  